.cardboxBoletim{
    height: 12px;
}

#resultNotas{
    overflow-y: scroll;
    width: 100%;
    height: 300px;
}

#content2{
    display: none;
}

.esti{
    background-color: rgb(171, 171, 171); 

}

footer{
    bottom: 0;
    position: fixed;
    width: 100vh;
   
}
